<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Title</title>

    <!-- Custom Fonts -->
    <link href="lib/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="lib/owl-carousel/assets/owl.carousel.css">

    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="dist/all.min.css" rel="stylesheet"/>


</head>
<body ng-app="App">

<nav class="fixed-top" ng-controller="NavigationCtrl">
    <div id="logo">
        LOGO
    </div>
    <menu>
        <ul>
            <li ng-click="selectTab(tab)" ng-class="{'active-menu': activeTab == tab.id}" ng-repeat="tab in tabs">
                <a ng-href="{{tab.id}}">{{tab.name}}</a>
            </li>
            <div class="menu-indicator"></div>
        </ul>
    </menu>

    <div class="settings">
        <div ng-class="{'active-menu': activeTab === '/profile'}"><a ng-href="/profile"><i class="fa fa-user"></i></a></div>
        <div><a ng-href="/upload"><i class="fa fa-search"></i></a></div>
    </div>
</nav>

<div class="recent" ng-if="activeTab === '/'" ng-include="'app/recent/recent.html'" ng-controller="RecentCtrl"></div>

<ng-view>Loading angular module</ng-view>


<!-- Bootstrap -->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script> <!-- TODO copy to static -->
<script src="lib/owl-carousel/owl.carousel.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>

<!-- Scripts -->
<script src="lib/angular/angular.min.js" type="text/javascript"></script>
<script src="lib/angular/angular-route.min.js" type="text/javascript"></script>
<script src="lib/angular/angular-animate.min.js" type="text/javascript"></script>
<script src="lib/angular/angular-messages.min.js" type="text/javascript"></script>
<script src="lib/angular/angular-resource.min.js" type="text/javascript"></script>

<script src="dist/all.min.js" type="text/javascript"></script>
<script src="lib/video/clappr.min.js" type="text/javascript"></script>

</body>
</html>