@import "../base";

.content {
  padding-left: $container-padding;
  padding-right: $container-padding;

  @include display-flex();
  align-items: baseline;
  align-content: flex-start;
  flex-flow: row wrap;
  justify-content: space-between;

  .content-item {
    //margin-right: 5%;
  }
}