@import "../base";

input {
  border: 1px solid darkgray;
  width: 100%;
  float: left;
  background: 0 0;
  height: 50px;
  padding: 1em;
}

.upload-container {
  h2 {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .row {
    padding-bottom: 50px;
  }

  .input-video {
    height: 80px;
    border-top: 1px solid $select-color;
    border-bottom: 1px solid $select-color;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    .empty {
      i {
        color: $select-color;
      }
      span {
        font-size: 14px;
      }
    }
  }
}