<div class="container content upload-container">
    <h2 class="text-center">Добавить описание к фильму</h2>
    <h3 class="text-center">Укажите ссыдку на фильм, который вы <br> хотите загрузить и ваши поля автоматически заполнятся <br> или сделайте это сами!</h3>
    <div class="row">
        <lm-input class="col-md-offset-2 col-md-8" ng-model="genre">Добавить ссылку на кинопоиск<span class="yellow">*</span></lm-input>
    </div>
    <div class="row">
        <!--<div class="input-name col-md-offset-2 col-md-4"><input name="name" placeholder="Название фильма"></div>-->
        <!--<div class="input-genre col-md-4"><input name="genre" placeholder="Жанр"></div>-->
        <lm-input class="col-md-offset-2 col-md-4" ng-model="name">Название фильма<span class="yellow">*</span></lm-input>
        <lm-input class="col-md-4" ng-model="genre">Жанр<span class="yellow">*</span></lm-input>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="input-video text-center">
                <div class="input-content">
                    <div class="empty">
                        <i class="fa fa-video-camera"></i> <br>
                        <span>Добавить видео</span>
                    </div>
                </div>
            </div>
            <input name="video" style="display: none" class="text-center" placeholder="Добавить видео">
        </div>
    </div>

    <div class="row">
        <lm-input class="col-md-offset-2 col-md-4" ng-model="genre">Год выпуска<span class="yellow">*</span></lm-input>
        <lm-input class="col-md-4" ng-model="genre">Страна производитель<span class="yellow">*</span></lm-input>
    </div>

    <div class="row">
        <lm-input class="col-md-offset-2 col-md-4" ng-model="genre">Режисер<span class="yellow">*</span></lm-input>
        <lm-input class="col-md-4" ng-model="genre">Актеры<span class="yellow">*</span></lm-input>
    </div>
</div>