input {
  border: 1px solid darkgray;
  width: 100%;
  float: left;
  background: 0 0;
  height: 50px;
  padding: 1em;
}

.upload-container {
  h2 {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .row {
    padding-bottom: 50px;
  }
}