$background-color: #1A2930;
$font-color: white;
$font-gray: #C4C4C0;
$font-size: 20px;
$select-color: #F7CE40;

$container-padding: 10%;

@import "compass";
@import "compass/reset";
@import "compass/css3";

@font-face {
  font-family: Roboto-Regular;
  src: url('../lib/font/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('../lib/font/Roboto/Roboto-Medium.ttf');
}

@mixin material-shadow {
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.16), 5px 5px 5px 5px rgba(0,0,0,0.12);
}

*, *:after, *:before {
  @include box-sizing(border-box);
  color: $font-color;
}

body {
  padding-top: 80px;
  background: $background-color;
  font-size: $font-size;
  line-height: 24px;
  font-family: "Roboto-Regular", serif;
  height: auto;
}